// COLORS
$color_primary: #42b883;
$color_secondary: #3c8171;
$color_reverse: #35495e;

$color_nuxt_black: #2c3e50;
$color_nuxt_grey: #7f8c90;
$color_nuxt_silver: #dae1e9;
$color_nuxt_white: #f5f7fa;

$color_black: #1f2d3d;
$color_light_black: #324057;
$color_extra_light_black: #475669;
$color_silver: #8492a6;
$color_light_silver: #99a9bf;
$color_extra_light_silver: #c0ccda;
$color_gray: #d3dce6;
$color_light_gray: #e5e9f2;
$color_extra_light_gray: #eff2f7;
$color_dark_white: #f9fafc;
$color_white: #ffffff;
